<h1 class="name-title"><%= @selection["name"] %></h1>
<div class="factoids">
  <img src="<%= @selection["image_url"] %>">
  <ul>
    <li><b>Hometown: <%= @selection["hometown"] %></b></li>
    <li><b>Born: <%= @selection["born_at"] %></b></li>
    <li><b>Died: <%= @selection["died_at"] %></b></li>
  </ul>
</div>

<div class="main">
  <p><%= @author_about.html_safe %></p>

  <div class="reviews">
    <b><%= link_to "BOOKS BY #{@selection["name"].upcase}", authors_books_path + "?id=#{@selection["id"]}" %></b>
  </div>
</div>

<% if signed_in? %>
  <%= form_for [@user, @author] do |f| %>
    <%= f.hidden_field :name, :value => @selection["name"] %>
    <%= f.hidden_field :gra_id, :value => @selection["id"] %>
    <%= f.submit "Add #{@selection["name"]} to your 'Authors to Read' list", id: "submit" %>
  <% end %>
<% end %>
