<h1>BookSmart</h1>
<h2>Your virtual personal library.</h2>
<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: name %>
<% end %>


<%= form_tag("/authors_results", method: "get") do %>
  <%= label_tag(:author_query, "Search for author:") %>
  <%= text_field_tag(:author_query, nil, :placeholder => "Enter name...") %>
  <%= submit_tag("SEARCH", id: "author_submit") %>
<% end %>



<%= form_tag("/books_results", method: "get") do %>
  <%= label_tag(:book_query, "Search for book:") %>
  <%= text_field_tag(:book_query, nil, :placeholder => "Enter title...") %>
  <%= submit_tag("SEARCH", id: "book_submit") %>
<% end %>



