<h1>BookSmart</h1>
<h2>Your virtual personal library.</h2>
<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: name %>
<% end %>

<p>
  <%= form_tag("/authors_results", method: "get") do %>
    <%= label_tag(:author_query, "Search for author:") %>
    <%= text_field_tag(:author_query) %>
    <%= submit_tag("Search", id: "author_submit") %>
  <% end %>
</p>

<p>
  <%= form_tag("/books_results", method: "get") do %>
    <%= label_tag(:book_query, "Search for book:") %>
    <%= text_field_tag(:book_query) %>
    <%= submit_tag("Search", id: "book_submit") %>
  <% end %>
</p>


