<h1>BookSmart</h1>
<h2>Your virtual personal library.</h2>
<% flash.each do |name, msg| %>
  <%= content_tag :p, msg, class: name %>
<% end %>


<ul class="author-book-results">
  <%= form_tag("/authors_results", method: "get") do %>
    <li>
      <%= label_tag(:author_query, "Search for author:", class: 'search-text') %>
      <%= text_field_tag(:author_query, nil, :placeholder => "Type the name of an author...", class: 'search-input') %>
      <%= submit_tag("SEARCH", id: "author_submit", class: 'search-submit') %>
    </li>
  <% end %>
</ul>



<ul class="author-book-results">
  <%= form_tag("/books_results", method: "get") do %>
    <li>
      <%= label_tag(:book_query, "Search for book:", class: 'search-text') %>
      <%= text_field_tag(:book_query, nil, :placeholder => "Type the title of a book...", class: 'search-input') %>
      <%= submit_tag("SEARCH", id: "book_submit", class: 'search-submit') %>
    </li>
  <% end %>
</ul>



