<h1><%= @user.name %>'s Bookshelf</h1>

<ul class="author-book-results">
  <% @books.each do |book| %>
    <li>
      <div class="book-info">
        <%= link_to "#{book.title}", books_selection_path + "?id=#{book.grb_id}"%>

        <%= form_for [@user, book], method: 'delete' do |f| %>
          <%= f.submit "DELETE", id: "destroy" %>
        <% end %>

        <%= form_for [@user, book] do |f| %>
          <%= f.hidden_field :read, :value => true %>
          <%= f.submit book.read ? "READ" : "UNREAD", id: "update" %>
        <%end%>
      </div>
    </li>
  <% end %>
</ul>

<div class="reviews">
  <b><%= link_to "SEARCH FOR A BOOK >>", root_path %></b>
</div>

<div class="reviews">
  <b><%= link_to "SEARCH FOR AN AUTHOR >>", root_path %></b>
</div>
