<h1 class="name-title"><%= @selection["title"]%></h1>

<div class="factoids">
  <img src="<%= @selection["image_url"]%>">
  <ul>
    <li><b>Author</b>: <%= @author_name %></li>
    <li><b>Publication Date</b>: <%= @selection["work"]["original_publication_month"]%>/<%= @selection["work"]["original_publication_day"]%>/<%= @selection["work"]["original_publication_year"]%></li>
    <li><b>Pages</b>: <%= @selection["num_pages"] %></li>
    <li><b>Average Rating</b>: <%= @selection["average_rating"]%> / 5 stars</li>
  </ul>
</div>

<div class="main">
  <p><%= @selection_desc.html_safe %></p>
</div>


<div class="reviews">
  <b><%= link_to "REVIEWS >>", books_reviews_path + "?id=#{@selection["id"]}" %></b>
</div>

<% if signed_in? %>
  <div class="reviews"><%= form_for [current_user, @book] do |f| %>
      <%= f.hidden_field :title, :value => @selection["title"] %>
      <%= f.hidden_field :author, :value => @author_name %>
      <%= f.hidden_field :grb_id, :value => @selection["id"] %>
      <%= f.submit "ADD TO BOOKSHELF >>", id: "submit" %>
    <% end %>
  </div>
<% end %>

<div class="reviews">
  <b><%= link_to "SEARCH FOR A BOOK >>", root_path %></b>
</div>

<div class="reviews">
  <b><%= link_to "SEARCH FOR AN AUTHOR >>", root_path %></b>
</div>



