
<% if signed_in? %>
  <ul class="author-book-results">
    <li><%= link_to "Home", root_path %></li>
    <%= form_for :session, url: signout_path, method: 'delete' do |f| %>
      <li>
        Signed in as <%= link_to current_user.name, current_user %>
        <%= f.submit 'Sign out', id: 'signout' %>
      </li>
    <% end %>
    <li><%= link_to "#{current_user.name}'s Books", user_books_path(current_user) %></li>
    <br>
    <li><%= link_to "#{current_user.name}'s Authors", user_authors_path(current_user) %>
    </li>
    <br>
  </ul>
<% else %>
  <ul class="author-book-results">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Sign In", signin_path %>  <%= link_to "Sign up", signup_path %></li>
  </ul>
<% end %>

